{% extends "layout.html" %}
{% block content %}
  <div class="container">
      <div style="margin-bottom: 10px">
          <a class="btn btn-primary" href="/add/list">新建部门</a>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
            <i class="bi bi-list-ul"></i>
            部门列表
        </div>
        <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">名称</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>
          {% for item in departList %}
              <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="/edit/{{ item.id }}/list">编辑</a>
                    <a class="btn btn-primary btn-xs" href="/delete/list?nid={{ item.id }}">删除</a>
                </td>
              </tr>
          {% endfor %}

        </tbody>

        </table>
      </div>
  </div>

{% endblock %}